{:server {:hostname "0.0.0.0"
          :port 8080
          :allowed-origins #resource-config/edn #resource-config/env "ALLOWED_ORIGINS"}
 :rabbitmq {:connection {:host #resource-config/env "RABBITMQ_PORT_5672_TCP_ADDR"
                         :port #resource-config/edn #resource-config/env "RABBITMQ_PORT_5672_TCP_PORT"}
            :kehaar {:incoming-services
                     [{:queue "partner-http-api.ok"
                       :f partner-http-api.handlers/ok
                       :response true
                       :threads 2
                       :prefetch-limit 2}]

                     :external-services
                     [{:queue "partner-works.partner-site.list"
                       :channel partner-http-api.channels/partner-site-list
                       :response true
                       :timeout 10000}

                      {:queue "partner-works.partner-site.read"
                       :channel partner-http-api.channels/partner-site-read
                       :response true
                       :timeout 10000}

                      {:queue "partner-works.campus-address.read-by-domain"
                       :channel partner-http-api.channels/campus-addresses-chan
                       :response true
                       :timeout 10000}]}}}
